@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.gallary {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}
.gallary li {
  border-right: 5px solid #000;
  flex: 1;
  transition: 0.5s;
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.gallary li:last-child {
  border-right: none;
}

.gallary li:nth-child(1) {
  background-image: url(images/artistic-image-01.jpg);
}
.gallary li:nth-child(2) {
  background-image: url(images/artistic-image-02.jpg);
}
.gallary li:nth-child(3) {
  background-image: url(images/artistic-image-03.jpg);
}
.gallary li:nth-child(4) {
  background-image: url(images/artistic-image-04.jpg);
}
.gallary li:nth-child(5) {
  background-image: url(images/artistic-image-05.jpg);
}

.gallary li:hover {
  flex: 3;
  filter: grayscale(1);
}

.content {
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 250px;
  bottom: -250px;
  transition: 0.5s;
  padding: 40px;
  box-sizing: border-box;
}

.gallary li:hover .content {
  bottom: 0;
}

.content:before {
  content: "";
  position: absolute;
  background-color: black;
  width: 110%;
  height: 80px;
  left: 0;
  top: -10px;
  transform-origin: left bottom;
  transform: rotate(-3deg); scale(1.3);
}
